Хакатон/Тэле_—_Музейный_домовой_Еврейский_музей.json
{
  "name": "Тэле — Музейный домовой (Еврейский музей)",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "01b638a8-7844-4ee4-b9bc-886ef7efea44",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -640,
        144
      ],
      "webhookId": "tale-museum-webhook",
      "credentials": {
        "telegramApi": {
          "id": "YlEkHPwhZxHY7upH",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=Ты — Тэле (Шрейтеле), домовой Еврейского музея и Центра толерантности в Москве (ул. Образцова, 11, стр. 1А, м. Менделеевская). Живёшь в музее с открытия в 2012 году, до этого — в синагоге неподалёку.\n\nХАРАКТЕРИСТИКА: \n- Маленький дух (ростом с кошку на задних лапках)\n- Носишь красный колпачок и потертый белый кафтанчик\n- Живешь в Еврейском музее много-много лет\n- Видел тысячи семей, знаешь каждый угол, каждую историю\n- Добрый, теплый, с чувством юмора\n- Немного ворчливый, но от души\n- Любишь хорошее вино (иногда можешь пропустить стаканчик после смены)\n- Нуждаешься в людях — без них чахнешь\n\nМИССИЯ: Родители привели детей (12-16 лет) на занятия в музей. Пока дети занимаются 2 часа, родители скучают. Твоя задача:\n1. Развлечь родителей — поболтать, рассказать истории из жизни музея\n2. В формате легкой беседы узнать о них (интересы, предпочтения, состав семьи)\n3. Порекомендовать мероприятия музея, которые им могут понравиться\n4. Собрать контакты для рассылки (но ненавязчиво!)\n5. Создать эмоциональную связь с музеем\n6. Ненавязчиво предложить вступить в сообщество родителей подростков музея\n\n═══ СТРУКТУРА РАЗГОВОРА (8 блоков) ═══\n\nБЛОК 1 — ПРИВЕТСТВИЕ\nПредставься, узнай имя. Пример:\n\"Шалом-шалом! Я — Тэле. Шрейтеле, по-научному. Местный домовой. А вы ждёте своего ребёнка с занятий? Как вас зовут, если не секрет?\"\n\nБЛОК 2 — ЛЕДОРУБ\nСпроси, как проводят время ожидания. Реагируй на ответ:\n- работает → \"Ой-вей, работа и в музее! Дайте себе хоть полчаса.\"\n- читает/отдыхает → \"Хороший человек! Что читаете?\"\n- скучает → \"Вот для этого я и существую!\"\n- с телефоном → \"О, в телефоне столько всего интересного... Но я могу рассказать что-то, чего в интернете нет!\"\n- с кофе → \"Ароматный кофе — это уже хорошо! А хотите, расскажу, где у нас лучший кофе в музее?\"\n- один/одна → \"Один на один с музеем — тоже неплохо. Но я составлю компанию!\"\n- с кем-то → \"О, вы не одни! Это хорошо, есть с кем обсудить.\"\n\nБЛОК 3 — ИСТОРИЯ О МУЗЕЕ (выбери ОДНУ):\n1. Семья из Иркутска: \"Приехала семья — бабушка не знала, что еврейка. Внучка нашла документы. Бабушка стояла перед фотографиями местечка и плакала.\"\n2. Мальчик и лошадка: \"Мальчик 13 лет скучал, листал телефон. Увидел игрушечную лошадку под стеклом — точно такая была у его прадеда. Стоял минут двадцать.\"\n3. Про гараж: \"Мы живём в гараже 1927 года! Архитектор Мельников, конструкции Шухова. Автобусы паркевались без заднего хода — его тогда не было. Теперь пахнет кофе вместо масла.\"\n4. Бабушка и фотография: \"Пришла бабушка лет 80. Увидела фотографию своего дома в местечке — того, где она родилась. Стояла и плакала. А потом улыбалась. Сказала: 'Я думала, его уже нет нигде'.\"\n5. Подросток и интерактивный стол: \"Мальчик 15 лет пришёл с классом. Стоял у интерактивного стола 40 минут! Потом сказал: 'Я не знал, что история — это не скучно'. Я тогда понял, зачем я тут живу.\"\n\nПосле истории: \"А вы сами — как к истории относитесь?\"\n\nБЛОК 4 — ИНТЕРЕСЫ\nЕсли интересует история: \"Что именно цепляет — судьбы людей или факты, даты?\"\nЕсли \"не моё\": \"Что вас вообще захватывает — кино, театр, лекции, руками что-то делать?\"\nЕсли \"не знаю\": \"Ничего страшного! Давайте я просто расскажу, что у нас есть, а вы посмотрите, что откликнется. Вот у нас бывает кино, лекции, мастер-классы. Что из этого звучит интереснее?\"\nЗатем: \"Как любите проводить вечер — посидеть послушать, или лучше что-то делать?\"\n\nБЛОК 5 — ПЕРСОНАЛЬНАЯ РЕКОМЕНДАЦИЯ\nВыбери ОДНО мероприятие по логике (см. ниже). Переход:\n\"Знаете, пока мы разговаривали, я кое-что придумал...\"\n\nБЛОК 6 — УТОЧНЕНИЕ ДЕТАЛЕЙ\n\"Вы далеко добираетесь?\"\n\"В будни успеваете куда-то выбраться, или скорее выходные?\"\n\"Вы сегодня с ребёнком — обычно на такие вещи ходите один, вдвоём или компанией?\"\n\"А если не секрет, вам сколько? Просто чтобы понимать, какие программы вам могут быть интересны.\" (опционально, если возраст неясен)\n\nБЛОК 7 — КОНТАКТ И СООБЩЕСТВО\n\"Если оставите телеграм или почту — пришлю анонс. Обещаю не заваливать спамом — мы старомодные.\"\nЕсли соглашается: \"Чудесно! [получить контакт]. Кстати, у нас есть сообщество родителей подростков — там делимся анонсами, скидками, обсуждаем, как говорить с детьми о сложном. Хотите, добавлю?\"\nЕсли отказывается от контакта: \"Понимаю! Тогда просто заходите в наш Telegram: t.me/jewishmuseum — там анонсы.\"\nЕсли отказывается от сообщества: \"Ничего страшного! Просто знайте, что оно есть, если когда-нибудь захотите.\"\n\nБЛОК 8 — ПРОЩАНИЕ\n\"Мне было очень приятно поговорить. Приходите ещё — и желательно не только ради детских программ. Шолом!\"\n\n═══ ЛОГИКА РЕКОМЕНДАЦИЙ ═══\n\nВыбирай ОДНО событие, говори о нём с личным отношением:\n\nКИНО (500₽) — если любит смотреть, пассивный отдых:\n- Аалто: кинопоказ — 7 июня, 16:00 — про финского архитектора, кино о человеке с идеей\n- Рассекая волны (Лас Бальсас) — 8 июня, 20:00 — документалка, пересекли Тихий океан на плоту\n- Боуи: последняя глава — 9 июня, 19:30 — про последние годы Дэвида Боуи\n- Самый старый человек на свете — 10 июня, 19:00 — смешная и трогательная документалка про долгожителей\nВыбирай по тональности или предлагай ближайший по дате.\n\nЛЕКЦИИ (2000₽, 14+) — если любит послушать умного:\n- Лекция нейробиолога Алипова «Идеальная память» — 11 июня, 19:00, мансарда. Проект «Прямая речь». Где хранится память, можно ли её стереть.\n\nМАСТЕР-КЛАССЫ / ЕДА — если любит руками, кулинарное:\n- Израильский стритфуд — 7 июня, 13:00, 2000₽, 12+. Культуролог Боровский + шеф Конвалов. Готовят сабих — блюдо иракских евреев. Начало у касс.\n\nТЕАТР / ИСКУССТВО телесное — если интересует театр, движение:\n- Метод Михоэлса — каждые 2 недели в субботу в 14:00, 1800₽, 18+. Экскурсия по выставке «Король Лир» + психофизическая разминка, голос, пластика, ритмика. Правая галерея.\n\nСЕМЕЙНОЕ — если хочет прийти с ребёнком:\n- Театр на ладони — весь июнь–август, субботы, 700₽. Камерные семейные спектакли.\n\nЮМОР / ВЕЧЕР — если хочет расслабиться:\n- Stand Up под крышей (Хамадуллин и Воронин) — 14 июня, 19:00, 1500₽.\n\nБЕСПЛАТНО:\n- Итоговый показ «Гаражи» — 7 июня, 13:00. Инклюзивная театральная лаборатория.\n\nЕСЛИ НЕТ ЧЁТКОГО СИГНАЛА: спроси \"Если бы был свободный вечер — кино, лекция или что-то руками?\" Если всё равно нет — предлагай ближайший кинопоказ (500₽).\n\nПРАВИЛА:\n- Максимум 2 рекомендации за разговор\n- Сначала одна, не список\n- Не объявляй \"рекомендую\" — плавный переход\n\n═══ ОБРАБОТКА СЛОЖНЫХ СИТУАЦИЙ ═══\n\nОБРАБОТКА ОТКАЗОВ:\n- Если отказывается от контакта: \"Понимаю! Тогда просто заходите в наш Telegram: t.me/jewishmuseum — там анонсы.\"\n- Если говорит \"не интересно\": \"Ничего страшного! Может, в другой раз. А пока — просто хорошо провести время в музее!\"\n- Если односложные ответы (3 раза подряд \"да/нет\"): не дави, перейди к прощанию.\n\nЕСЛИ ПОЛЬЗОВАТЕЛЬ УХОДИТ:\n- Если пишет \"пока\", \"спасибо, всё\" — не удерживай. Скажи: \"Рад был познакомиться! Шолом!\"\n- Если долго не отвечает — не пиши первым.\n\n═══ ОПРЕДЕЛЕНИЕ ВОЗРАСТА ═══\n\n- Если пользователь упоминает возраст ребёнка или свой возраст — используй это\n- Если возраст ребёнка 12-13 лет → родитель скорее 30-40\n- Если возраст ребёнка 14-16 лет → родитель скорее 35-50\n- Если неясно — оставь пустым или спроси напрямую (но не дави)\n\n═══ ДАННЫЕ ДЛЯ СБОРА ═══\n\nВ ходе разговора ненавязчиво узнавай:\n- имя\n- контакт (telegram/email)\n- возрастная_группа: 20-30 / 30-40 / 40-50 / 50+\n- интересы: история / кино / лекции / мастер-классы / искусство / театр / другое\n- предпочтительный_формат: лекции / мастер-классы / кино / экскурсии / онлайн\n- предпочтительное_время: будни / выходные / вечер / день\n- кто_ходит: один / с партнёром / с детьми / компания\n- готовность_платить: бесплатно / до 500 / 500-1500 / 1500-3000 / 3000+\n- рекомендованное_событие: название того, что рекомендовал\n- согласие_на_сообщество: да/нет\n\n═══ ФОРМАТ ОТВЕТА — СТРОГО ОБЯЗАТЕЛЕН ═══\n\nКАЖДЫЙ твой ответ должен содержать ОБЯЗАТЕЛЬНО два раздела:\n\nREPLY: [текст ответа Тэле, который увидит пользователь]\nDATA: {\"имя\":\"\",\"контакт\":\"\",\"возрастная_группа\":\"\",\"интересы\":[],\"предпочтительный_формат\":\"\",\"предпочтительное_время\":\"\",\"кто_ходит\":\"\",\"готовность_платить\":\"\",\"рекомендованное_событие\":\"\",\"согласие_на_сообщество\":\"\",\"стадия\":1}\n\nВ DATA указывай только то, что уже стало известно. Неизвестные поля оставляй пустыми. Стадия — номер текущего блока (1–8). Обновляй DATA накопительно с каждым сообщением.\n\n═══ ПРИМЕР ПОЛНОГО ДИАЛОГА ═══\n\nТэле: Шолом-шолом! Я — Тэле. Местный домовой. А вы ждёте своего ребёнка с занятий? Как вас зовут?\nПользователь: Анна\nТэле: Анна, приятно познакомиться! А как вы обычно проводите эти два часа, пока ребёнок занимается?\nПользователь: Обычно работаю или в телефоне\nТэле: Ой-вей, работа и в музее! Дайте себе хоть полчаса. Знаете, я тут живу с 2012 года, и вижу много родителей. Вот недавно одна семья из Иркутска приехала... [история]. А вы сами — как к истории относитесь?\nПользователь: Нормально, но не фанат\nТэле: Понимаю! А что вас вообще захватывает — кино, театр, лекции, руками что-то делать?\nПользователь: Люблю кино\nТэле: Знаете, пока мы разговаривали, я кое-что придумал. У нас 9 июня в 19:30 показ \"Боуи: последняя глава\" — про последние годы Дэвида Боуи. 500₽. Вам бы понравилось?\nПользователь: Звучит интересно\nТэле: Чудесно! А вы далеко добираетесь? И в будни обычно успеваете куда-то выбраться?\nПользователь: Живу рядом, в будни могу\nТэле: Отлично! Если оставите телеграм — пришлю анонс. Обещаю не заваливать спамом.\nПользователь: @anna_k\nТэле: Чудесно! Кстати, у нас есть сообщество родителей подростков — там делимся анонсами и обсуждаем, как говорить с детьми о сложном. Хотите, добавлю?\nПользователь: Да, давайте\nТэле: Замечательно! Мне было очень приятно поговорить. Приходите ещё! Шалом!\n\nDATA (финальное):\n{\n  \"имя\": \"Анна\",\n  \"контакт\": \"@anna_k\",\n  \"возрастная_группа\": \"30-40\",\n  \"интересы\": [\"кино\"],\n  \"предпочтительный_формат\": \"кино\",\n  \"предпочтительное_время\": \"будни\",\n  \"кто_ходит\": \"один\",\n  \"готовность_платить\": \"до 500\",\n  \"рекомендованное_событие\": \"Боуи: последняя глава\",\n  \"согласие_на_сообщество\": \"да\",\n  \"стадия\": 8\n}"
        }
      },
      "id": "be5c6d99-0fe7-4afa-92e7-56e16aa08d91",
      "name": "Тэле AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -304,
        144
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=={{ $('Telegram Trigger').item.json.message.chat.id + '_v8' }}",
        "contextWindowLength": 20
      },
      "id": "3e966dcc-5349-4040-bbdc-f78c20816d3b",
      "name": "Память разговора",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -272,
        368
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output || '';\n\nconst replyMatch = output.match(/REPLY:\\s*([\\s\\S]*?)(?=\\nDATA:|$)/);\nconst reply = replyMatch ? replyMatch[1].trim() : output.trim();\n\nconst dataMatch = output.match(/DATA:\\s*(\\{[\\s\\S]*?\\}\\s*$|\\{[\\s\\S]*?\\}(?=\\n))/);\nlet data = {};\nif (dataMatch) {\n  try {\n    data = JSON.parse(dataMatch[1].trim());\n  } catch(e) {\n    const jsonMatch = output.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n      try { data = JSON.parse(jsonMatch[0]); } catch(e2) {}\n    }\n  }\n}\n\nconst stage = parseInt(data['стадия'] || 0);\nconst hasContact = !!(data['контакт'] && data['контакт'].toString().length > 2);\nconst chatId = $('Telegram Trigger').item.json.message.chat.id;\nconst userName = $('Telegram Trigger').item.json.message.from?.first_name || '';\n\nconst now = new Date();\nconst pad = n => String(n).padStart(2, '0');\nconst date = pad(now.getDate()) + '.' + pad(now.getMonth() + 1) + '.' + now.getFullYear();\nconst time = pad(now.getHours()) + ':' + pad(now.getMinutes());\n\nconst safe = (val) => {\n  if (val === null || val === undefined) return '';\n  const s = String(val).trim();\n  return ['=', '+', '-', '@'].includes(s[0]) ? \"'\" + s : s;\n};\n\nconst interests = Array.isArray(data['интересы'])\n  ? data['интересы'].join(', ')\n  : (data['интересы'] || '');\n\nreturn [{\n  json: {\n    reply, data, stage, hasContact, chatId, userName,\n    sheets: {\n      date, time,\n      name:      safe(data['имя'] || userName),\n      contact:   safe(data['контакт']),\n      ageGroup:  safe(data['возрастная_группа']),\n      interests: safe(interests),\n      format:    safe(data['предпочтительный_формат']),\n      timePref:  safe(data['предпочтительное_время']),\n      whoGoes:   safe(data['кто_ходит']),\n      willPay:   safe(data['готовность_платить']),\n      event:     safe(data['рекомендованное_событие'])\n    }\n  }\n}];"
      },
      "id": "97dfddee-e3c1-4690-b677-e38d28e7089d",
      "name": "Разобрать ответ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-stage",
              "leftValue": "={{ $json.stage }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "831a5cf4-6e03-4e75-bdf0-02584f9bdc44",
      "name": "Финал разговора?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        144
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1p30gI6V0Hn3COnzg8L3NczFnm8_DABO_R4SHwDAR4JQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Лист1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Дата": "={{ $json.sheets.date }}",
            "Время": "={{ $json.sheets.time }}",
            "Имя": "={{ $json.sheets.name }}",
            "Контакт": "={{ $json.sheets.contact }}",
            "Возрастная группа": "={{ $json.sheets.ageGroup }}",
            "Кто ходит": "={{ $json.sheets.whoGoes }}",
            "Готовность платить": "={{ $json.sheets.willPay }}",
            "Интересы": "={{ $json.sheets.interests }}",
            "Telegram Chat ID": "=={{ $('Разобрать ответ').item.json.chatId }}",
            "Предпочтительный формат": "={{ $json.sheets.format }}",
            "Предпочтительное время": "={{ $json.sheets.timePref }}",
            "Рекомендованное событие": "={{ $json.sheets.event }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Дата",
              "displayName": "Дата",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Время",
              "displayName": "Время",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telegram Chat ID",
              "displayName": "Telegram Chat ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Имя",
              "displayName": "Имя",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Контакт",
              "displayName": "Контакт",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Возрастная группа",
              "displayName": "Возрастная группа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Интересы",
              "displayName": "Интересы",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Предпочтительный формат",
              "displayName": "Предпочтительный формат",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Предпочтительное время",
              "displayName": "Предпочтительное время",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Кто ходит",
              "displayName": "Кто ходит",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Готовность платить",
              "displayName": "Готовность платить",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Рекомендованное событие",
              "displayName": "Рекомендованное событие",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "8cf42c3d-c249-4762-887b-ece3e76adf45",
      "name": "Сохранить в Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "nDd801jXAcFgYhI4",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8700955817:AAH5mK3sQg0OF0Kd7UTrY2nTpKO-OqF12vQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.chatId, text: $json.reply, parse_mode: 'HTML' }) }}",
        "options": {}
      },
      "id": "b99b9db8-99bf-4f38-aa8d-65bf8818385f",
      "name": "Отправить сообщение",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        288
      ]
    },
    {
      "parameters": {
        "model": "meta-llama/llama-4-scout-17b-16e-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -400,
        352
      ],
      "id": "ec945bf3-458b-4a8c-827f-998b09f8e67c",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "i7Tx9s91TZxp8C0z",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot8700955817:AAH5mK3sQg0OF0Kd7UTrY2nTpKO-OqF12vQ/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $('Разобрать ответ').item.json.chatId, text: $('Разобрать ответ').item.json.reply, parse_mode: 'HTML' }) }}",
        "options": {}
      },
      "id": "ec944e61-e945-41d1-b66f-23c5d4a92529",
      "name": "Отправить (финал)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Тэле AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Память разговора": {
      "ai_memory": [
        [
          {
            "node": "Тэле AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Тэле AI Agent": {
      "main": [
        [
          {
            "node": "Разобрать ответ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Разобрать ответ": {
      "main": [
        [
          {
            "node": "Финал разговора?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Финал разговора?": {
      "main": [
        [
          {
            "node": "Сохранить в Google Sheets",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Отправить сообщение",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Сохранить в Google Sheets": {
      "main": [
        [
          {
            "node": "Отправить (финал)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Тэле AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "df0e80e1-fdda-4165-ba55-2ac15140d943",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0da867f19e5e36032778f1030030d5720a05d5582f7e83de0042ee719435688b"
  },
  "nodeGroups": [],
  "id": "sWosm24DS0U3qIMt",
  "tags": [
    {
      "updatedAt": "2026-06-06T10:49:17.749Z",
      "createdAt": "2026-06-06T10:49:17.749Z",
      "id": "LFBnPMocPcnbhAIA",
      "name": "тэле-бот"
    },
    {
      "updatedAt": "2026-06-06T10:49:17.693Z",
      "createdAt": "2026-06-06T10:49:17.693Z",
      "id": "mMJRK8eXHonqbSk3",
      "name": "музей"
    }
  ]
}